body{
    margin: 0rem;
    padding: 0rem;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary);
}

#page{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    min-height: calc(100% - 8rem);
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 500px;
    max-width: 80%;
    height: 35rem;
    background-color: var(--purpel-2);
    border: 2px solid var(--purpel);
    border-radius: 20px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card{
    position: relative;
    width: 400px;
    height: 13rem;
    padding: 1.5rem;
    margin-top: -10rem;
    background-image: url("../ASSETS/background-card.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--white-2);
    transition: .3s ease;
}

#card-content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 
        1fr;
    grid-template-rows:
        repeat(3, 1fr);
    transform: .5s ease;
}

#card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#card-number{
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns:
        repeat(4, 1fr);
    padding-right: 1rem;
    margin-top: 1rem;
}

#number{
    width: 450%;
    letter-spacing: .3rem;
    background: transparent;
    font-size: 1.3rem;
    font-weight: bold;
}

#number::placeholder{
    color: var(--white);
}

#card-bottom{ 
    display: grid;
    align-items: center;
    grid-template-columns:
        repeat(4, 1fr);
}

#card-holder-full-name{
    background: transparent;
    padding: 0rem;
    height: 1.2rem;
}

#card-holder-full-name::placeholder{
    color: var(--white);
    font-size: 1.1rem;
}

#card-expires{
    grid-column: 4;
    color: var(--white);
    padding-left: 45%;
}

#card-expires-date{
    background: transparent;
    padding: 0rem;
    height: 1.5rem;
}

#card-expires-date::placeholder{
    color: var(--white);
    font-size: 1.1rem;
}

.card-bottom-span{
    font-size: 12px;
    color: var(--grey);
}

#card-back{
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    display: none;
}

#card-back img{
    position: absolute;
    top: 0;
    left: -1.5rem;
    width: calc(100% + 3rem);
    height: 4rem;
}

#card-back input{
    width: 3rem;
    height: 1rem;
    padding: 1rem;
}

form{
    width: 90%;
    height: 60%;
    display: grid;
    gap: 1rem;
    grid-template-columns:
        repeat(3, 1fr);
    grid-template-rows:
        repeat(4, 1fr);
}

form div{
    color: var(--white);
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}

#form-card-expires-date{
    grid-column: span 2;
}

#form-card-expires-date-inputs{
    height: 100%;
    display: flex;
    gap: .4rem;
    flex-direction: row;
}

#input-month{
    width: 50%;
}

#input-year{
    width: 50%;
}

#form-cvv{
    grid-row: 3;
    grid-column: 3;
}

#submit{
    grid-column: span 3;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);
    background: transparent;
    border: 2px dashed var(--purpel);
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover{
    border: transparent;
    background-color: var(--purpel);
    box-shadow: 0px 0px 20px var(--purpel);
    transform: scale(1.05);
}

form span{
    margin-bottom: .4rem;
    font-size: 14px;
    color: var(--grey);
}

input{
    height: 100%;
    padding-left: .2rem;
    outline: none;
    border: none;
    border-radius: 5px;
}